<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex, nofollow">
    <meta name="csrf-token" content="{{ csrfToken }}">
    <title>AdonisJS | Admin Panel</title>
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/app_logo.png">
    <link rel="stylesheet" href="/admin/assets/lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/admin/assets/lib/toast/jquery.toast.min.css">
    <link rel="stylesheet" href="/admin/assets/scss/style.css">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css">
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/admin/assets/lib/bootstrap/js/popper.min.js"></script>
    <script src="/admin/assets/lib/bootstrap/js/bootstrap.min.js"></script>
    @!section('stylesheet')
    <script>
        var base_url    = '/';
        var current_url = '{{ url }}';
    </script>
</head>
<body>
<div id="overlay"></div>
<div class="top-bar primary-top-bar">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <a class="admin-logo" href="{{ route('admin.dashboard') }}">
                    <h1>
                        <img style="width: 165px;" title="AdonisJS" alt="AdonisJS" src="{{ application_setting.logo }}" class="toggle-none hidden-xs">
                    </h1>
                </a>
                <div class="left-nav-toggle" >
                    <a  href="#" class="nav-collapse"><i class="fa fa-bars"></i></a>
                </div>
                <div class="left-nav-collapsed" >
                    <a  href="#" class="nav-collapsed"><i class="fa fa-bars"></i></a>
                </div>
                <ul class="list-inline top-right-nav">
                    <li class="dropdown icons-dropdown d-none-m">
                        <a class="dropdown-toggle " data-toggle="dropdown" href="#"><i class="fa fa-bell"></i> <div class="notify setpos"> <span class="heartbit"></span> <span class="point"></span> </div></a>
                        <ul class="dropdown-menu top-dropdown lg-dropdown notification-dropdown">
                            <li>
                                <div class="dropdown-header">
                                    <a class="float-right" href="#"><small>View All</small></a> Notification
                                </div>
                                <div class="scrollDiv">
                                    <div class="notification-list">
                                        <a class="clearfix" href="javascript:void(0);">
                                            <span class="notification-icon">
                                                <img alt="" class="rounded-circle" src="/admin/assets/img/avtar-2.png" width="50">
                                            </span>
                                            <span class="notification-title">John Doe</span>
                                            <span class="notification-description">Lorem Ipsum is simply dummy text of the printing.</span>
                                            <span class="notification-time">15 minutes ago</span>
                                        </a>
                                        <a class="clearfix" href="javascript:void(0);">
                                            <span class="notification-icon">
                                                <img alt="" class="rounded-circle" src="/admin/assets/img/avtar-2.png" width="50">
                                            </span>
                                            <span class="notification-title">John Doe</span>
                                            <span class="notification-description">Lorem Ipsum is simply dummy text of the printing.</span>
                                            <span class="notification-time">15 minutes ago</span>
                                        </a>
                                        <a class="clearfix" href="javascript:void(0);">
                                            <span class="notification-icon">
                                                <img alt="" class="rounded-circle" src="/admin/assets/img/avtar-2.png" width="50">
                                            </span>
                                            <span class="notification-title">John Doe</span>
                                            <span class="notification-description">Lorem Ipsum is simply dummy text of the printing.</span>
                                            <span class="notification-time">15 minutes ago</span>
                                        </a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown avtar-dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            @if(auth.user.image_url)
                              <img alt="" style="width: 50px; object-fit: cover; height: 50px;" class="rounded-circle" src="{{ storage_url(auth.user.image_url) }}" width="30">
                            @else
                              <img alt="" class="rounded-circle" src="/admin/assets/img/avtar-2.png" width="30">
                            @end
                            {{ auth.user.name }}
                        </a>
                        <ul class="dropdown-menu top-dropdown">
                            <li>
                                <a class="dropdown-item" href="{{ route('admin.profile') }}"><i class="icon-user"></i> Profile</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{{ route('admin.change-password') }}"><i class="icon-lock"></i> Change Password</a>
                            </li>
                            <li class="dropdown-divider"></li>
                            <li>
                                <a class="dropdown-item" href="{{ route('admin.logout') }}"><i class="icon-logout"></i> Logout</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="main-sidebar-nav default-navigation">
    <div class="nano">
        <div class="nano-content sidebar-nav">
            <div class="card-body border-bottom text-center nav-profile">
                <div class="notify setpos"> <span class="heartbit"></span> <span class="point"></span> </div>
                @if(auth.user.image_url)
                  <img style="border-radius:50%;width:100px;object-fit:cover;height:100px;" alt="profile" class="margin-b-10" src="{{ storage_url(auth.user.image_url) }}" width="30">
                @else
                  <img style="border-radius: 50%;width: 100px;object-fit: contain;" alt="profile" class="margin-b-10" src="/admin/assets/img/avtar-2.png" width="30">
                @end
                <p class="lead margin-b-0 toggle-none">{{ auth.user.name }}</p>
                <p class="text-muted mv-0 toggle-none">Welcome</p>
            </div>
            <ul class="metisMenu nav flex-column" id="menu">
                <li class="nav-heading"><span>MODULE</span></li>
                <li data-type="parent" class="nav-item">
                    <a class="nav-link" href="{{ route('admin.dashboard') }}">
                        <i class="fa fa-home"></i> <span class="toggle-none">Dashboard</span>
                    </a>
                </li>
                <li data-type="parent" class="nav-item">
                    <a class="nav-link" href="{{ route('admin.application-setting') }}">
                        <i class="fa fa-cog"></i> <span class="toggle-none">Application Setting</span>
                    </a>
                </li>
                <li data-type="parent" class="nav-item">
                    <a class="nav-link" href="{{ route('admin.user.index') }}">
                        <i class="fa fa-users"></i> <span class="toggle-none">Users Management</span>
                    </a>
                </li>
                <li data-type="parent" class="nav-item">
                    <a class="nav-link" href="{{ route('admin.faq.index') }}">
                        <i class="fa fa-question-circle"></i> <span class="toggle-none">Faq Management</span>
                    </a>
                </li>
                <li data-type="parent" class="nav-item">
                    <a class="nav-link" href="{{ route('admin.content.index') }}">
                        <i class="fa fa-edit"></i> <span class="toggle-none">Content Management</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="row page-header">
    <div class="col-lg-6 align-self-center ">
        <h2>Dashboard</h2>
    </div>
</div>
@!section('content')
<script src="/admin/assets/lib/pace/pace.min.js"></script>
<script src="/admin/assets/lib/jasny-bootstrap/js/jasny-bootstrap.min.js"></script>
<script src="/admin/assets/lib/slimscroll/jquery.slimscroll.min.js"></script>
<script src="/admin/assets/lib/nano-scroll/jquery.nanoscroller.min.js"></script>
<script src="/admin/assets/lib/metisMenu/metisMenu.min.js"></script>
<script src="/admin/assets/lib/toast/jquery.toast.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
<script src="/admin/assets/js/custom.js"></script>
@!section('scripts')
</body>
</html>
