<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title> AdonisJS | Admin Panel</title>
      <link rel="icon" type="image/png" sizes="16x16" href="/assets/app_logo.png">
      <link rel="stylesheet" href="/admin/assets/lib/bootstrap/css/bootstrap.min.css">
      <link rel="stylesheet" href="/admin/assets/scss/style.css">
      <style type="text/css">
          html,body{
              height: 100%;
          }
      </style>
    </head>
    <body class="bg-light">
        <div class="misc-wrapper">
            <div class="misc-content">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-6">
                              <div class="misc-header text-center">
								                  <img title="" alt="" src="{{ application_setting.logo }}" class="toggle-none hidden-xs">
                              </div>
                            <div class="misc-box">
                                @!section('content')
                            </div>
                            <div class="text-center misc-footer">
                               <p>Copyright &copy; {{ current_year }} {{ application_setting.app_name }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
